.relative {
	position: relative;
}
.divider-x {
	height: 1px;
	margin: 8px 0;
}
.paper-grey-400 {
	background-color:#bdbdbd !important;
}
.f-size-11 {
	font-size: 1.1em;
}
.f-paper-indigo-500 {
	color:#3f51b5 !important;
}
.p-x-30 {
	padding-left: 30px;
	padding-right: 30px;
}
.h-50 {
	height: 50px;
}
.m-y-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.m-y-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.m-bottom-50 {
	margin-bottom: 50px;
}
.m-top-50 {
	margin-top: 50px;
}
.p-top-30 {
	padding-top: 30px;
}

/* Social Buttons
********************************************************/
#fb-like-button {
	margin-right: 1.2em;
}

#fb-like-button,#gplus-button,#tweet-button {
	margin-top: .7em;
}

/* Custom Styles
********************************************************/
.inline-top {
	display: inline-block;
	vertical-align: top;
}

p.essay {
	margin-bottom: 2em;
	text-align: justify;
}

ol.essay,ul.essay {
	margin-bottom: 3em;
}

ol.essay li,ul.essay li {
	text-align: justify;
}

hr.footer-line {
	margin-top: 5em;
}

/* Infobar beside the page title
********************************************************/

#infobar {
	position: absolute;
	top: 20px;
	right: 10px;
}
#infobar a {
	margin: 0 .5em .5em 0;
}

/* Google Visualization UI
********************************************************/

.charts-menu-vertical {
	max-height: 200px;
	overflow-y: auto;
	z-index: 15;
}

/*
Set the entire width of the combobox
including input field and dropdown button
*/

.gviz.control-occupation .charts-combobox {
	width: 50em;
}

/*
Set the width of the input field
and the dropdown list below it
*/

.gviz.control-occupation .charts-combobox .charts-menu,
.gviz.control-occupation .charts-combobox.charts-inline-block > input {
	width: 48em;
}

/* Default chart size */

.gviz.chart {
	/* now gviz will automatically fill parent's width */
	height: 400px;
}

/* IHL Graduate Overview - Page Styles
********************************************************/

.page-overview #dashboard #chart1 {
	margin: 2em 0 0 0;
}

.page-overview #dashboard #chart1,
.page-overview #dashboard #chart2 {
	height: 300px;
}

/* Uni Grad Starting Pay - Page Styles
********************************************************/

.page-degree #dashboard #control2,
.page-degree #dashboard #control3,
.page-degree #dashboard #control4 {
	margin: 1em 0 0 0;
}

/* Diploma Grad Starting Pay - Page Styles
********************************************************/

.page-diploma #dashboard #control2,
.page-diploma #dashboard #control3,
.page-diploma #dashboard #control4 {
	margin: 1em 0 0 0;
}

.page-diploma #dashboard #chart1 {
	/* make bubble chart taller */
	height: 40em;
}

/* Macro Citizen Income - Page Styles
********************************************************/

.page-citizen #notes {
	margin: 2em 0 0 0;
}

.page-citizen #chart1, 
.page-citizen #chart2 {
	margin: 1em 0 0 0;
	/* Make simple column charts shorter */
	height: 25em;
}

/* Macro Household Income - Page Styles
********************************************************/

.page-household #notes {
	margin: 2em 0 0 0;
}

.page-household #chart1, 
.page-household #chart2,
.page-household #chart3,
.page-household #chart4 {
	margin: 1em 0 0 0;
}



.page-household #control1, .page-household #control2, .page-household #control3, .page-household #control4 {
	margin: 1em 0 1em 0;
}


.page-household #control-decile {
	margin: 1em 0 1em 0;	
}

/* Occupation Wages by Age - Page Styles
********************************************************/
.page-age #dashboard #control1 {
	margin: 0 0 1em 0;
}

.page-age #dashboard #control2,
.page-age #dashboard #control3, 
.page-age #dashboard #control4,
.page-age #dashboard #control5 {
	margin: 1em 1em 0 0;
}



/* Occupation Wages by Industry - Page Styles
********************************************************/
.page-industry #dashboard #control1 {
	margin: 0 0 1em 0;
}

.page-industry #dashboard #control2, 
.page-industry #dashboard #control4,
.page-industry #dashboard #control3 {
	margin: 1em 0 0 0;
}

/* About - Page Styles
********************************************************/
.page-about .hero-unit {
	/*background: url(../img/graphic_feature_1024x500.jpg) no-repeat center center fixed;*/
	background: url(../img/graphic_feature_1024x500.jpg) no-repeat center;
	background-size: cover;
	height: 15em;
	
}


/* Tablet
********************************************************/

@media ( max-width : 979px) {
	.charts-menu-vertical {
		max-height: 15em;
	}

	.gviz.control-occupation .charts-combobox {
		width: 40em;
	}

	.gviz.control-occupation .charts-combobox .charts-menu,
	.gviz.control-occupation .charts-combobox.charts-inline-block>input {
		width: 38em;
	}
	
}

/* Regular Desktops
********************************************************/
/*
@media (min-width: 980px) and (max-width: 1499px) {
	
}
*/

/* Very Large Desktops
********************************************************/
/*
@media (min-width: 1500px) {
	
}
*/